<a class="navbar-brand" href="#">FlowersShop</a>
<div class="navbar-nav">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Главная</a>
        <a class="nav-item nav-link " asp-controller="Product" asp-action="Index">Каталог</a>
        <a class="nav-item nav-link " asp-area="Admin" asp-page="/Index">Администрирование</a>
        </div>
</div>