@page
@model Flowers.Areas.Admin.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}




<h1>Добавить</h1>

<h4>FN</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fn.Name" class="control-label"></label>
                <input asp-for="fn.Name" class="form-control" />
                <span asp-validation-for="fn.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fn.Description" class="control-label"></label>
                <input asp-for="fn.Description" class="form-control" />
                <span asp-validation-for="fn.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="fn.Category" class="control-label"></label>
                <select asp-for="fn.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>

            <div class="form-group">
                <label asp-for="fn.Price" class="control-label"></label>
                <input asp-for="fn.Price" class="form-control" />
                <span asp-validation-for="fn.Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Image" class="form-label">Изображение</label>
                <input asp-for="Image" class="form-control" />
            </div>
           
           
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться к списку</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
