 @using System.Security.Claims;

@{
    ViewBag.Title = "Index";
}


<main class="content">
    <img src="Images/01.jpg" alt="Магазин цветов">
    <div class="description">
        <h1>Магазин цветов "FlowersShop"</h1>
        <ul class="services">
            <li><span class="icon">🌸</span> Предоставляет широкий ассортимент цветов, а также букетов на любой вкус.</li>
            <li><span class="icon">🌸</span> Бесплатная доставка!</li>
            <li><span class="icon">🌸</span> Корпоративное оформление и многое другое!</li>
        </ul>
    </div>
</main>


